/Implementation/Build/local.build.properties
/Implementation/Build/Logs/ProcessPuzzle.log
/Implementation/DomainTier/Binaries/application_configuration
/Implementation/DomainTier/Binaries/com
/Implementation/DomainTier/Binaries/hu
/Implementation/DomainTier/Binaries/Database.sql
/Implementation/DomainTier/Binaries/hsqlrun.bat
/Implementation/DomainTier/Binaries/hsqlrun.bat.default
/Implementation/DomainTier/Binaries/log4j.properties.default
/Implementation/DomainTier/Binaries/server.properties
/Implementation/DomainTier/Binaries/toolrun.bat
/Implementation/DomainTier/Binaries/toolrun.bat.default
/Implementation/DomainTier/Build/Binaries
/Implementation/DomainTier/Build/Distribution
/Implementation/DomainTier/Build/Libraries
/Implementation/DomainTier/Build/Reports
/Implementation/DomainTier/Build/Temp/
/Implementation/DomainTier/Build/build.num
/Implementation/DomainTier/Build/local.build.properties
/Implementation/DomainTier/Configuration/hsqlrun.bat
/Implementation/DomainTier/Configuration/toolrun.bat
/Implementation/DomainTier/Logs/ProcessPuzzle.log
/Implementation/WebTier/.settings
/Implementation/WebTier/Binaries/
/Implementation/WebTier/Build/Distribution/
/Implementation/WebTier/Build/Logs/
/Implementation/WebTier/Build/Reports/
/Implementation/WebTier/Build/Temp/
/Implementation/WebTier/Build/build.num
/Implementation/WebTier/Build/local.build.properties
/Implementation/WebTier/Logs/ProcessPuzzle.log
/Implementation/WebTier/TEST-net.jsunit.StandaloneTest.xml


