body {
      background:#fff;
      margin:0;
      padding:0;
      color:#000;
      font:x-small/1.5em Georgia,Serif;
      voice-family: "\"}\""; 
      voice-family:inherit;
      font-size:small;
}

#TabWidget {
    float:left;
    width:100%;
    background:#DAE0D2 url(images/bg.gif") repeat-x bottom;
    font-size:80%;
    line-height:normal;
}

#TabWidget ul.Tabs {
    margin:0;
	padding-top:0px;
	padding-right:10px;
	padding-bottom:0px;
	padding-left:2px;
    list-style:none;
}

#TabWidget ul.Buttons {
    float: right;
    margin:0;
    list-style:none;
	padding-top:5px;
	padding-right:2px;
	padding-bottom:inherit;
	padding-left:5px;
}

#TabWidget ul.Tabs li {
    float:left;
    background:url("images/left.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 9px;
}

#TabWidget ul.Buttons li {
    float:right;
    margin:0;
/*   padding:0px 0px 0px 10px; */
	padding-top:0px;
	padding-right:0;
	padding-bottom:0;
	padding-left:5px;
}

#TabWidget ul.Tabs a {
    display:block;
    background:url("images/right.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#765;
}

#TabWidget ul.Buttons a {
    display:block;
    background-image:none;
    text-decoration:underline;
    font-weight:bold;
    color:#765;
}

#TabWidget #current {
    background-image:url("images/left_on.gif");
}

#TabWidget #current a {
    background-image:url("images/right_on.gif");
    padding-bottom:5px;
    color:#333;
}

#TabWidget a:hover {
    color:#FF0000;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#TabWidget a {float:none;}
/* End IE5-Mac hack */
