@CHARSET "UTF-8";

/* Specified the menu widget container's properties */
div#HorizontalMenuBar {
	border: 0px;
	height: 30px;
	left: 0px;
	line-height: 18px;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	position: relative;
	width: 100%;
}

/* Removes the bullets and resets the margin and padding. */
div#HorizontalMenuBar ul {
	list-style: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

div#HorizontalMenuBar li {
	float: left;
}

div#HorizontalMenuBar a {
	display: block;
	text-decoration: none;
}	
	
/* First level submenu properties. */
div#HorizontalMenuBar li ul {
	background: #fff url(../Images/bg-dropdown.gif) repeat-y;
	border: 1px solid #3f3f3f;
	left: -999em;
	margin-left:-1px;
	padding: 2px;
	position: absolute;
	top: 30px;
	width:165px;
	z-index: 8000;
}

div#HorizontalMenuBar ul li a {
	color: #333;
	font-weight: normal;
	padding: 6px 10px 6px 10px;	
}

div#HorizontalMenuBar ul li a:hover {
	color: #333;
}

div#HorizontalMenuBar ul li a.arrow-right, div#HorizontalMenuBar ul li a:hover.arrow-right {
   background-image: url(../Images/arrow-right.gif);
   background-repeat: no-repeat;
   background-position: right 7px;  
} 

div#HorizontalMenuBar li:hover ul ul,
div#HorizontalMenuBar li.ieHover ul ul,
div#HorizontalMenuBar li:hover ul ul ul,
div#HorizontalMenuBar li.ieHover ul ul ul {
	left: -999em;
}

div#HorizontalMenuBar li ul ul { /* third-and-above-level lists */
	margin: -22px 0 0 163px;
}

div#HorizontalMenuBar li ul li .check {
   position: absolute;
   top: 8px;
   left: 6px;
   width: 5px;
   height: 5px;
   background: #555;
   overflow: hidden;
   line-height: 1px;
   font-size: 1px;
}

div#HorizontalMenuBar li ul li a {
	color: #3f3f3f;
	font-weight: normal;	
	position: relative;
	padding: 1px 9px 1px 25px;
	width: 130px;
}

div#HorizontalMenuBar li ul li a:hover {
   background: #6C98D9;
   color: #fff;
   -moz-border-radius: 2px;   
}

div#HorizontalMenuBar li ul li a:hover .check {
   background: #fff;
}

div#HorizontalMenuBar li:hover ul,
div#HorizontalMenuBar li.ieHover ul,
div#HorizontalMenuBar li li.ieHover ul,
div#HorizontalMenuBar li li li.ieHover ul,
div#HorizontalMenuBar li li:hover ul,
div#HorizontalMenuBar li li li:hover ul { /* lists nested under hovered list items */
   left: auto;
}

div#HorizontalMenuBar li:hover { /* For IE7 */
    position: static;
}