.scrollControlsY{
   display:block;
   position: absolute;
   top:0;
   right:-1px;
   height:100%;
   width:15px;
   background: url(../Images/ScrollBar-Background.gif) no-repeat right top;
}

.upBtn{
   background: url(../Images/ScrollUpButton.gif) no-repeat 0 0px;
   bottom:17px;
   cursor:pointer;
   display:block;
   height:26px;
   position:absolute;
   right:0;
   width:15px;
}

.upBtn:hover{
   background: url(../Images/ScrollUpButton.gif) no-repeat 0 -26px;
}

.upBtn-Active, .upBtn-Active:hover{
   background: url(../Images/ScrollUpButton.gif) no-repeat 0 -51px;
}

.downBtn{
   display:block;
   position:absolute;
   bottom:0;
   right:0;
   width:15px;
   height:17px;
   background: url(../Images/ScrollDownButton.gif) no-repeat 0 -34px;
   cursor:pointer;
}

.downBtn:hover{
   background: url(../Images/ScrollDownButton.gif) no-repeat 0 -17px;
}

.downBtn-Active, .downBtn-Active:hover{
   background: url(../Images/ScrollDownButton.gif) no-repeat 0 0;
}

.scrollSlot{
   display:block;
   margin-bottom: -20px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   position: absolute;
   right:0;
   top:6px;
   width:15px;
}

.scrollHandle{
   cursor: pointer;
   display:block;
   height:35px;
   margin:0px 0 0 0;
   min-height:4px;
   padding:0px;
   position:absolute;
   right:0;
   top:0px;
   width:15px;
}

.scrollHandleBG{
   background: url(../Images/ScrollHandleBackground.gif) repeat-y 0 0 ;
   display:block;
   height:100%;
   position: relative;
   top: 9px;
   width:15px;
}

.scrollHandle .scrollHandleBG:hover, .scrollHandle:hover .scrollHandleBG{
   background: url(../Images/ScrollHandleBackground.gif) repeat-y -15px 0;
}

.scrollHandle-Active .scrollHandleBG:hover, .scrollHandle-Active:hover .scrollHandleBG, .scrollHandle-Active .scrollHandleBG{
   background: url(../Images/ScrollHandleBackground.gif) repeat-y -30px 0;
}

.scrollHandleMiddle{
   display: block;
   position: absolute;
   width:15px;
   height:13px;
   top:50%;
   margin:-5px 0 0 0;
}

.scrollHandleTop{
   background: url(../Images/ScrollHandleTop.gif) no-repeat 0 0;
   display:block;
   height:9px;
   margin:0 0 0 0;
   position:absolute;
   top:0px;
   width:15px;
}

.scrollHandle .scrollHandleTop:hover, .scrollHandle:hover .scrollHandleTop{
   background: url(../Images/ScrollHandleTop.gif) no-repeat -15px 0;
}

.scrollHandle-Active .scrollHandleTop:hover, .scrollHandle-Active:hover .scrollHandleTop, .scrollHandle-Active .scrollHandleTop{
   background: url(../Images/ScrollHandleTop.gif) no-repeat -30px 0;
}

.scrollHandleBottom{
   background: url(../Images/ScrollHandleBottom.gif) no-repeat 0px 0px ;
   bottom:0;
   display:block;
   height:9px;
   margin:0 0 0 0;
   position:relative;
   width:15px;
}

.scrollHandle .scrollHandleBottom:hover, .scrollHandle:hover .scrollHandleBottom{
   background: url(../Images/ScrollHandleBottom.gif) no-repeat -15px 0;
}

.scrollHandle-Active .scrollHandleBottom:hover, .scrollHandle-Active:hover .scrollHandleBottom, .scrollHandle-Active .scrollHandleBottom{
   background: url(../Images/ScrollHandleBottom.gif) no-repeat 0 0 ;
}
