@CHARSET "UTF-8";

#VerticalMenuColumn ul {
	position: relative;
}

#VerticalMenuColumn li {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: -15px;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
	list-style-type: none;
	text-decoration: none;
	background-repeat: no-repeat;
}

#VerticalMenuColumn li a {
	padding-left: 4px;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
	color: white;
}

#VerticalMenuColumn li a:hover {
	color: red;
	text-decoration: none;
}

#VerticalMenuColumn .selectedMenuItem {
	
}

#VerticalMenuColumn .selectedMenuItem a:hover {
	color: navy;
}

a:visited {
	text-decoration: none;
	border-style: none;
	border-width: 0px;
}

img {
	text-decoration: none;
	border-style: none;
	border-width: 0px;
}

.accordion {
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	width: 140px;
	font-family: Arial;
	font-size: 90%;
	background-color: #111;
}

.accordion li {
	overflow: hidden;
}

.accordion li a {
	display: block;
	border-bottom: 1px solid #444;
	background-color: #222;
	text-decoration: none;
	color: white;
	padding: 5px;
	outline: none 0px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.accordion li a:hover {
	background-color: #777;
}

.accordion>li:first-child>a:first-child {
	border-top: 1px solid #444;
}

.accordion ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 0px;
	overflow: hidden;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}

.accordion li:hover ul,.accordion:not (:hover ) li:first-child ul {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

.accordion ul li a {
	color: #AAA;
	border: 1px solid #777;
	border-top: 0px none;
	background-color: #666;
	white-space: nowrap;
	overflow: hidden;
}

.accordion ul li a:hover {
	background-color: #999;
}