@CHARSET "UTF-8";

#LanguageSelectorWidget {
	position: fixed;
	top: 98px;
	right: 20px;
	margin-top: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 100px;
	padding-right: 12px;
	background-image: url("../Images/LanguageSelectorBackground.jpg");
	background-repeat: no-repeat;
	background-position: right;
}

#LanguageSelector {
	margin-right: 25px;
	background-color: #00ff80;
}