@CHARSET "UTF-8";

#SkinSelectorWidget {
	display: inline;
	float: right;
	margin-top: -20px;
}

span.SkinSelectorWrapper {
	background: transparent;
	background-image: url("../Images/SelectorBackground-Right.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	text-decoration: none;
}

span.SkinSelectorWrapper span{
	background-color: transparent;
	background-image: url("../Images/SelectorBackground-Left.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
}

#SkinSelector{
	background-color: transparent;
	color: blue;
}
