@CHARSET "UTF-8";

#LanguageSelectorWidget {
	display: inline;
	float: left;
	height: 30px;
	margin-top: 2px;	
	position: fixed;
	right: 20px;
	top: 103px;
}

span.LanguageSelectorWrapper {
	background: transparent;
	background-image: url("Images/SelectorBackground-Right.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	text-decoration: none;
}

span.LanguageSelectorWrapper span{
	background-color: transparent;
	background-image: url("Images/SelectorBackground-Left.gif");
	background-position: top left;
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
}
