@CHARSET "UTF-8";

#DocumentEditorToolBar{
	float: left;
	font:normal 12px Trebuchet MS,Arial;
	height: 30px;
	margin: 0px;
	padding: 0px;
}

#DocumentEditorToolBar ul {
   float:left;
   line-height:30px;
   list-style:none;
   margin:0;
   padding:0 10px 0 10px;
   width:500px;	
}

#DocumentEditorToolBar li {
	display: inline;
	padding: 0px;
}

#DocumentEditorToolBar a {
   float:left;
   text-decoration:none;
}

#DocumentEditorToolBar a span {
   display:block;
   float:none; 
   padding-left: 5px;
   padding-right: 5px;
}

#DocumentEditorToolBar a span img{
   border:none;
   float:left;
   position: relative;
   top: 6px;
}

#DocumentEditorToolBar a:hover {
   background: url(../Images/ToolBarButtonBackground-Left.png) no-repeat left center;
   color: white;
}

#DocumentEditorToolBar a:hover span {
   background:url(../Images/ToolBarButtonBackground-Right.png) no-repeat right center;
}
